

body{
    font-family: 'Hind Siliguri', sans-serif;
    background-color: #D5D6D2;
    margin-top:8em;
}


.textareaCreate {
    height: 8em;
    width: 50em;
    background-color: white;
}

.FormCreate{

    border: 1px solid #D3D3D3;
    border-radius: 0.5em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;

}




.FontTagLine{
    font-family: 'Lobster Two', cursive;
    color:#3A5199;
    font-size:50px;
}


.Plus{
    color:orange;
}

.ininputCreate{
    font-weight: bold;
    background-color: rgba(0,128,0, 0.2);
}

.buttonFormation{
    background-color: #3A5199;
    border-radius: 24px;
    margin-bottom: 75px;
}










