
#bodyLandingFormation{
    font-family: 'Hind Siliguri', sans-serif;
    background-color: #D5D6D2;
    margin-top:12em;

}

#bodyEditFormation {
    font-family: 'Hind Siliguri', sans-serif;
    background-color: #D5D6D2;
    margin-top:12em;

}

.height{
    min-height:100vh;
}



.photo{

    margin-left: 3em;
}


.TagLine{
    font-family: 'Lobster Two', cursive;
    color:#3A5199;
    font-size: 50px;
}

.imageLandingFormation{

    margin:auto;
}

.cardLandingFormation{
    margin-right:1em;
}

.FormateurName{
    color:red;
}

.noteLandingFormation{
    color:black;
    border-top: solid 0.3em grey;

}

.thumbLandingFormation{

    color:black;
    border-radius: 15px;
    border: solid 0.2em white;
}

.thumbLandingFormation:hover{

    border: solid 0.2em grey;
    background-color: rgba(0, 0, 0, 0.5);
    color:white;
}

.thumbLandingFormationbottom{
    border: solid 0.2em white;
}


.thumbLandingFormationbottom:hover{
    border: solid 0.2em grey;
    border-radius: 15px;
    color:black;
}

.noteCol{
    border-color: #6c6159;
}

.author{
    color:red;
}

.TransparencyLandingFormation{
    background-color: rgba(0, 0, 0, 0.5);
}


.textLandingFormation{
    font-size:1.2em;
    margin-left:2em;
    margin-right:2em;
}

.blocAuthor{
    margin-right:2em;
    font-size:1em;
}


.sucessColor{
    color:green;
}



.dangerColor{
    color:red;
    transition-duration: 0.4s;
}



.starColor{
    color:yellow;
    transition-duration: 0.4s;
}

.starColor:hover{
    color:black;
    transition-duration: 0.4s;
}

.colortext{
    color:grey;
}

/* Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) {
    .textDisplay{
        display:none;
    }
}


.buttonFormation{
    background-color: #3A5199;
    border-radius: 24px;
}

.blurOver:hover .todisplay{
    -webkit-filter: blur(0px); /* Safari 6.0 - 9.0 */
    filter: blur(0px);
    width: 100%;
    font-size: 3rem;
}

.blurOver:hover .tofade{
    -webkit-filter: blur(0px); /* Safari 6.0 - 9.0 */
    filter: blur(4px);
}

.todisplay {
    display: none;
}

.enSavoirPlus{
    font-size:1.2em;
}

.modalLandingFormation{
    font-size: 1.2em;
}
