body {
    background-color: blue;
}
@media (max-width: 769px) {
    .logo{
        display: none;
    }
    .apprendre{
        padding-top: 5px;
    }
}

.thumbnail{
    padding-top: 10px;
}
.vignette{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logo {
    width: 50%;
}

.color {

    background-color: #D5D6D2;
}
.color2 {
    padding-top: 2%;
    background-color: #3A5199e;
}

.color3 {
    background-color: #D5D6D2;
}

.Search {
    margin-top: 40px;
    width: 95%;
}

.keyword{

    margin-bottom: 25px ;
}

.category {
    margin-top: 25px;
    margin-bottom: 25px;
}
.button {

    align-items: center;
    font-size: 20px;

}

.title {
    vertical-align: middle;
}

.loginBtn {
    margin: 5%;
    color: #292c2f;

}

.tagline {
    padding-top: 0.5em;
    padding-bottom: 0px;
    color: #3A5199;
    font-family: 'Lobster Two', cursive;
}

.head {

    display: flex;
    background-color: darkcyan;
    height: 100px;

}


.bottomBtn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 10px 16px;

}

.btn-lg {
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
}

.btn-primary {
    color: #FFF;
    background-color: #428BCA;
    border-color: #357EBD;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    color: #FFF;
    background-color: #3276B1;
    border-color: #285E8E;
}

/***********************
ROUND BUTTONS
************************/
.round {
    border-radius: 24px;
}

/***********************
CUSTON BTN VALUES
************************/

.bottomBtn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #3A5199;
    color: #FFFFFF;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33A6CC;
}
.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
    font-family: Arial;
}

/* Center website */
.main {
    max-width: 1000px;
    margin: auto;
}

h1 {
    font-size: 50px;
}

.row {
    margin: 10px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
    padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;

}

/* Clear floats after rows */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    background-color: #999999;

    position: relative;
}


/* The "show" class is added to the filtered elements */
.show {
    display: block;
}

.todisplay {
    display: none;
}
.content:hover .todisplay {

    position: absolute;

    display: block;
    width: 100%;
    text-align: center;
    top:40%;
    opacity: 1;
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 700;
    color: #292c2f;
    font-size: xx-large;
    text-transform: uppercase;
    filter: blur(0px);
}
.content:hover .tofade {

    filter: blur(4px);
}

.scroll-top {
    width: 5%;
    height: 5%;
    position: fixed;
    bottom: 25px;
    left: 20px;
    display: none;
    z-index: 200;
    background-color: #3A5199;
}
.scroll-top:hover{
    background-color: #2F2E33;
}
.scroll-top i {
    display: inline-block;
    color: #fff;
}
#scrollUp {
    position: fixed;
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: red;
    /* Set a background color */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
    font-size: 18px;
/
}
.btnSearch{
    background-color: #3A5199;
}

.main2{
    max-width: 1000px;
    margin: auto;
    padding: 0 0 15px;
}
.left{
    padding-right: 40px;
    border-right: 1px solid #3A5199;
}

.typo {
    font-family: 'Concert One', cursive;
font-size: xx-large}


