
body{
    font-family: 'Hind Siliguri', sans-serif;
    background-color: #D5D6D2;
}



.photo{

    margin-left: 3em;
}


.TagLine{
    font-family: 'Lobster Two', cursive;
    color:#3A5199;
    font-size: 50px;
}

.imageLandingFormation{

    margin:auto;
}

.cardLandingFormation{
    margin:auto;
}

.test{
    margin-left:30px;
}

