@import url('https://fonts.googleapis.com/css?family=Hind+Siliguri');

* {
    font-family: 'Hind Siliguri', sans-serif;
}

/* **************** start Footer / nav ************** */
.navbar{
    width: 100%;
    -webkit-box-shadow: 0 16px 12px -12px #999;
    -moz-box-shadow: 0 16px 12px -12px #999;
    box-shadow: 0 16px 12px -12px #999;
    font-family: 'Hind Siliguri', sans-serif;
    background-color: rgba(0,0,0,0.5);
    height: 9rem;

}
.nav-item{
    font-size: 25px;
}
.navbar-brand{
    font-size: 35px;
}
nav{
    width: 100%;
}
.navbar-nav {
    width: 100%;
    text-align: center;
}
.navbar-brand {
    font-family: 'Hind Siliguri';
    font-weight: 700;
}
.loginbtn{
    margin-left: 20px;
}



@media (min-width: 768px) {
    .navbar-nav {
        width: 100%;
        text-align: center;
    }
    .navbar-nav > li {
        float: none;
        display: inline-block;
    }
    .navbar-nav > li.navbar-right {
        float: right;
    }
}

.footer-distributed{
    background-color: #3A5199;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px 'Hind Siliguri';
    /*height: 10vh;*/

    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;

}

.footer-distributed .footer-left p{
    color:  #8f9296;
    font-size: 14px;
    margin: 0;
}


.footer-distributed p.footer-links{
    font-size:18px;
    font-weight: bold;
    color:  #ffffff;
    margin: 0 0 3px;
    padding: 0;
}

.footer-distributed p.footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
}

.footer-distributed .footer-right{
    float: right;
    margin-top: 6px;
    max-width: 180px;
}

.footer-distributed .footer-right a{
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color:  #33383b;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-left: 3px;
}


@media (max-width: 600px) {

    .footer-distributed .footer-left,
    .footer-distributed .footer-right{
        text-align: center;
    }

    .footer-distributed .footer-right{
        float: none;
        margin: 0 auto 20px;
    }

    .footer-distributed .footer-left p.footer-links{
        line-height: 1.8;
    }
}

/* **************** end Footer / nav ************** */

/* **************** start login et signup ************** */

.loginSignupLigne1
{
    height: 20vh;
}

.loginSignupLigne2
{
    height: 40vh;
}

.loginSignupLigne3
{
    height: 20vh;
}

.borderTable
{
    border-right: 1px solid darkslategray;
    border-left: 1px solid darkslategray;
}

.borderMid
{
    border-top: 1px solid darkslategray;
    border-bottom: 1px solid darkslategray;
}

.borderBot
{
    border-left: 1px solid darkslategray;
    border-right: 1px solid darkslategray;
}

.borderTop
{
    border-left: 1px solid darkslategray;
    border-right: 1px solid darkslategray;
}
.loginForm
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.ligneTable1
{
    height: 20%;
}

.ligneTable2
{
    height: 30%;
}

.ligneTable3
{
    height: 30%;
}

.ligneTable4
{
    height: 20%;
}

.bg_01
{
    background-color: #D5D6D2;
}

@media all and (max-device-width: 480px)
{
    .loginSignupLigne1
    {
        height: 5vh;
    }

    .loginSignupLigne2
    {
        height: 60vh;
    }

    .loginSignupLigne3
    {
        height: 5vh;
    }

    .loginSignupMobile
    {
        margin-top: 2rem;
        margin-left: 1rem;
        margin-right: 3rem;

    }
    .signupButtonMargin
    {
      margin-top: 1rem;
    }
}

.loginSignupformHover:hover
{

    background-color: #2F2E33;
    transition-duration: 0.4s;
    /*animation: circle 1s;*/
    transition-timing-function: ease-in;
}

.typo {
    font-family: 'Concert One', cursive;
    font-size: xx-large}

/* **************** Fin page login et signup **************** */

/* **************** start Search **************** */
/* **************** end Search **************** */

/* **************** start profile **************** */
/* **************** end profile **************** */

/* **************** start landingFormation **************** */
/* **************** end landingFormation **************** */

/* **************** start teacher **************** */
/* **************** end teacher **************** */

/* **************** start index **************** */
/* **************** end index **************** */

/* **************** start formation **************** */
/* **************** end formation **************** */

/* **************** start formation **************** */
/* **************** end formation **************** */

/* **************** start formation **************** */
/* **************** end formation **************** */