body {
    padding-top: 71px;
}

nav{
    height: 71px;
}


/*--- BG ---- */
.bg-main {
    background-color: #F0E7E9;
    /* box-shadow: 5px 10px #888888; */
}

.bg-second {
    background-color: #756A82;
}

.bg-marketing {
    background: url("https://i.imgur.com/v7vcgA8.jpg") center center;
    background-size: cover;
}

.bg-white-semi_transparent {
    background-color: rgba(255, 255, 255, 0.5);
}

.bg-grey {
    background-color: #f7f7f7;
}

.bg-yellow {
    background-color: #F2B202;
}




/* COMPONENTS */

/* header marketing*/
.marketing {
    height: 400px;

}

/* coeur */
.favorite {
    background-color:transparent;
    color:Tomato;
}



/* TODO sticky footer*/
.content {
    min-height: 680px;
}


/*
h1 {
    padding-bottom: 20px;
    padding-left: 30px;
    color: black;
    font-weight: bold;
    font-family: 'IBM Plex Sans', sans-serif;

}
*/


/*
.navbar{
    background-color: #2E024A;
}
*/
/*
.typo-main {
    font-family: 'IBM Plex Sans', sans-serif;
}
*/

/*
.breadcrumb {
    background-color: transparent;
    color: black;
    font-weight: bold;
}
*/

/* general settings */

/* body */

/*polices */



/*buttons */

.scrollPosition {
    position :fixed;
    bottom:100px;
    background-color: #0a4f73;
    color:white;
}


.Button1 {

    text-decoration: none;
    color: #fff;
    background-color: #0a4f73;
    border: none;
    border-radius: 8px;
}

.Button1:hover {
    background-color: #001a35;
    text-decoration: none;
    color:white;
    cursor: pointer;
}

.Button1:active {
    background-color: #001a35;
    transform: translateY(4px);
}

.Button2 {

    text-decoration: none;
    color: #fff;
    background-color: #001a35;
    border: solid 1px #001a35;
    border-radius: 8px;
}

.Button2:hover {
    background-color:rgba(0, 0, 0, 0.3);
    text-decoration: none;
    color:white;
    cursor: pointer;
    border: solid 1px #001a35;
}

.Button2:active {
    background-color: #0a4f73;
    transform: translateY(4px);
}




/* header */

.card-transparency {
    background-color: rgba(0, 0, 0, 0.2);
    color:white;
}

.headerTitle {
    position:relative;
    bottom:50%;
}

/*

    background-color: rgba(255, 255, 255, 0.5);
    color: rgba(128, 0, 128, 0.8);
*/
.headerspan1 {
    font-size: 3em;
}

.headerspan2 {
    font-size: 1.5em;
}


.bgCardDark {
    background-color: #063045;
    padding: 1em;
}


/* banner numbers */

.banner-numbers {
    background-color: rgba(128, 0, 128, 0.8);
    padding : 2em;
    margin-top:3em;
    margin-bottom:3em;

    border: solid 1px lightgrey;
    box-shadow: 5px 10px #888888;
}



/* search bar */
.search-Banner {
    background-color: #0a4f73;
    padding-top : 1em;
    padding-bottom : 1em;
    border: solid 1px lightgrey;
    box-shadow: 5px 10px #888888;
}

.search-Banner-title {
    background-color: rgba(0, 0, 0, 0.4);
}

/* Portfolio Category  */


.card-columns {
    column-count: 3;
}


.portfolio-hover-content {
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -12px;
    text-align: center;
    color: rgb(128, 0, 128);
}

.portfolio-hover-content i {
    margin-top: -12px;
}

.portfolio-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    transition: all ease 0.5s;
    opacity: 0;
    background: rgba(255, 255, 255, 0.9);
}

.portfolio-hover:hover {
    opacity: 1;
}


.img-FAQ {
    opacity:0.6;
}

.talKAboutUs {
    font-size:0.8em;
}



/*Services NoAge, c'est simple et rapide*/
.colorCircle {
    color:rgb(128, 0, 128);
}

.SubtitleService {
    font-weight: 700;
    font-size:1.5rem;
}

.bgButtonColor {
    background-color:#0a4f73;

}

.fa-facebook- {
    color:grey;
}

.hoverMOdal:hover {
    cursor: pointer;
}


/*Caroussel */
.CarousselBgColor {
    background-color: rgba(128, 0, 128, 0.2);
}

.carousel-control-prev-icon {
    color: rgba(128, 0, 128, 0.2);
}

.carousel-control-next-icon {
    color: rgba(128, 0, 128, 0.2);
}


/*Responsive settings

/*Media /* Extra small devices (phones small, 320px and down) */
@media only screen and (max-width: 320px) {

    /*-------Page login-----*/

}

/*Media /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {

    .positionTitle {
        display:none;
    }

    .card-columns {
        column-count: 2;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

/* page Search */

.hover .post-content .description {
    display: block !important;
    height: auto !important;
    opacity: 1 !important;
}

.container .info {
    width: 300px;
    margin: 50px auto;
    text-align: center;
}
.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 24px;
    font-weight: bold;
    color: #333333;
}
.container .info span {
    color: #666666;
    font-size: 12px;
}
.container .info span a {
    color: #000000;
    text-decoration: none;
}
.container .info span .fa {
    color: #f2b202;
}

/*landingcolor:yellow;Formation */
.starColor {
    text-decoration: none;
    color:yellow;
}

.starColor:hover {
    text-decoration: none;
    color:yellowgreen;
}

.boxShadow {
    border: solid 1px lightgrey;
    box-shadow: 5px 10px #888888;
    background-color:#0a4f73;

}

.bgColorModal {
    background-color: rgba(0,0,0, 0.6);
}

.minHeight {
    min-height: 4em;
}

.navTabPosition {
    margin-top:-5em;
}

.card-headerNON {
    background-color:#0a4f73;
}