/vendor/
*.cache
.idea/
/.web-server-pid
/app/config/parameters.yml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/web/bundles/

!/web/upload/contenuFormation/file
/web/upload/contenuFormation/file/*
!/web/upload/contenuFormation/file/.gitkeep

!/web/upload/contenuFormation/picture
/web/upload/contenuFormation/picture/*
!/web/upload/contenuFormation/picture/.gitkeep

!/web/upload/images
/web/upload/images/*
!/web/upload/images/.gitkeep