{% extends 'layout.html.twig' %}
{% block title %} Homepage {% endblock %}
{% block nav %} {{ parent }} {% endblock %}



{% block title %} Homepage {% endblock %}

{% block content %}
    <h1>Items</h1>
    <p> TEST</p>
{% endblock %}
