{% extends 'layout.html.twig' %}
{% block title %} Homepage {% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/index.css">
{% endblock %}

{% block nav %} {{ parent() }} {% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col" id="logo">
                <img src="http://via.placeholder.com/140x100">
            </div>
            <div class="offset-xl-8 offset-lg-7 offset-md-6 offset-sm-5 offset-xs-6  offset-4 col" id="loginbtn">
                <a href="/login"  role="button" aria-disabled="true"><button class="loginBtn btn btn-primary">Connect</button></a>
            </div>
        </div>
        <div class="row" >
            <div class="offset-xs-2 col-xs-10 offset-md-1 col-md-10">
                <h1 class="text-center display-3">No Age</h1>
            </div>
        </div>
        <div class="row justify-content-center tagline">
            <div class="col-8 bg-dark " >
                <h1 class="text-center text-white">TAGLINE</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center large" style="padding-bottom: 100px">
            <div class="col-1">
                <a href="/landingFormateur" role="button" aria-disabled="true"> <button class="btn bottomBtn">Je Veux Forme</button></a>
            </div>
            <div class="offset-4 col-3" >
                <button class="btn bottomBtn">Je Veux Appredre </button>
            </div>
        </div>
        <div class="small justify-content-center" style="padding-bottom: 100px">
        <div class="row">
            <div class="offset-1 col-2 justify-content-center" style="padding-bottom: 10px">
                <a href="/landingFormateur" role="button" aria-disabled="true"> <button class="btn bottomBtn">Je Veux Forme</button></a>
            </div>
        </div>
        <div class="row">
            <div class="offset-1 col-2 justify-content-center">
                <button class="btn bottomBtn">Je Veux Appredre </button>
            </div>
        </div>
        </div>
    </div>

    <div class="container">
        <div class="row" style="padding-bottom: 30px">
            <div class="offset-1 col-md-10 text-center">
                <form action="" >
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Search..." aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-light-secondary" type="button"> <i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <p><img src="http://via.placeholder.com/240x240"></p>

            </div>
            <div class="col-md-4">
                <p><img src="http://via.placeholder.com/240x240"></p>

            </div>
            <div class="col-xs-12 col-md-4">
                <p><img src="http://via.placeholder.com/240x240"></p>

            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p><img src="http://via.placeholder.com/240x240"></p>

            </div>
            <div class="col-md-4">
                <p><img src="http://via.placeholder.com/240x240"></p>

            </div>
            <div class="col-xs-12 col-md-4">
                <p><img src="http://via.placeholder.com/240x240"></p>

            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p><img src="http://via.placeholder.com/240x240"></p>

            </div>
            <div class="col-md-4">
                <p><img src="http://via.placeholder.com/240x240"></p>

            </div>
            <div class="col-xs-12 col-md-4">
                <p><img src="http://via.placeholder.com/240x240"></p>

            </div>
        </div>
    </div>

        <div class="container">
            <div class="row" style="padding-top: 100px">
                <div class="col-md-12 text-center">
                    <h3>Temp Title</h3>
                </div>
            </div>
            <div class="row">
                <div class="offset-md-2 col-md-4 col">
                    <img src="http://via.placeholder.com/140x140">
                </div>
                <div class="col-md-5 col">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                        esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </div>

            <div class="row">
                <div class="offset-xs-1 offset-md-2 col-md-4 col ">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                        esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
                <div class="offset-md-1 col-md-1 col">
                    <img src="http://via.placeholder.com/140x140">
                </div>
            </div>

            <div class="row">
                <div class="offset-md-2 col-md-4 col">
                    <img src="http://via.placeholder.com/140x140">
                </div>
                <div class="col-md-5 col">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                        esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </div>
        </div>

{% endblock %}
