{% extends 'layout.html.twig' %}
{% block title %} Homepage {% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/index.css">
{% endblock %}

{% block nav %} {{ parent() }} {% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 logo" >
                <img src="http://via.placeholder.com/140x100">
            </div>
            <div class="col-md-4">
                <h1 class="text-center display-3">No Age</h1>
            </div>
            <div class="col-xs-12 col-md-4 d-flex justify-content-end">
                <a href="/login" role="button" aria-disabled="true"><button class="loginBtn btn btn-primary logo">Connect</button></a>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row justify-content-center tagline">
                <div class="col-10 bg-dark" style="box-shadow: 5px 10px #888888;">
                    <h1 class="text-center text-white" >TAGLINE</h1>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-8">
                    <div class="center-block  embed-responsive embed-responsive-16by9 mt-4">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen width="200" height="200" ></iframe>
                    </div>
                </div>
            </div>
            <div class="row" style="padding-top: 10px; padding-bottom: 10px;">
                <div class="col-md-6 col-xl-6 d-flex justify-content-center">
                    <a href="/landingFormateur" role="button" aria-disabled="true"> <button class="btn bottomBtn">Je Veux Forme</button></a>
                </div>
                <div class="col-xs-12 col-md-6 d-flex justify-content-center apprendre">
                    <button class="btn bottomBtn">Je Veux Appredre </button>
                </div>
            </div>
        </div>
        <div class="row justify-content-center Search">
            <div class="col-10 text-center">
                <form action="" >
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Search..." aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-light-secondary" type="button"> <i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 d-flex justify-content-center thumbnail">
                    <img class="vignette" src="http://via.placeholder.com/240x240">
                </div>
                <div class="col-md-4 d-flex justify-content-center thumbnail">
                    <img class="vignette" src="http://via.placeholder.com/240x240">
                </div>
                <div class="col-xs-12 col-md-4 d-flex justify-content-center thumbnail">
                    <img class="vignette" src="http://via.placeholder.com/240x240">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 d-flex justify-content-center thumbnail">
                    <img class="vignette" src="http://via.placeholder.com/240x240">
                </div>
                <div class="col-md-4 d-flex justify-content-center thumbnail">
                    <img class="vignette" src="http://via.placeholder.com/240x240">
                </div>
                <div class="col-xs-12 col-md-4 d-flex justify-content-center thumbnail">
                    <img class="vignette" src="http://via.placeholder.com/240x240">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 d-flex justify-content-center thumbnail">
                    <img class="vignette" src="http://via.placeholder.com/240x240">
                </div>
                <div class="col-md-4 d-flex justify-content-center thumbnail">
                    <img class="vignette" src="http://via.placeholder.com/240x240">
                </div>
                <div class="col-xs-12 col-md-4 d-flex justify-content-center thumbnail">
                    <img class="vignette" src="http://via.placeholder.com/240x240">
                </div>
            </div>
        </div>

        <div class="container-fluid" style="padding-top: 30px">
            <div class="row justify-content-center">
                <div class="col-8">
                    <h3 class="text-center">Temp Title</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <img src="http://via.placeholder.com/140x140">
                </div>
                <div class="col-6">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                        esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                        esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
                <div class="col-6">
                    <img src="http://via.placeholder.com/140x140">
                </div>
            </div>
            <div class="row">
                <div class="col-6 ">
                    <img src="http://via.placeholder.com/140x140">
                </div>
                <div class="col-6 ">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                        esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </div>
        </div>







    </div>



{% endblock %}
