
{% extends 'layout.html.twig' %}
{% block title %} Landing Page Formation {% endblock %}
{% block stylesheet %}<link rel="stylesheet" href="/assets/css/landingFormateur.css">{% endblock %}
{% block nav %} {{ parent() }} {% endblock %}



{% block content %}
    <div class="container fluid">
        <div class="row ">
            <div class="col-md-12 bg-dark TagLineDavid">
                <h2 class="text-center text-white ">Pourquoi créer un cours ?</h2>
            </div>
        </div>

        <div class="row ">
            <!--<img src="http://via.placeholder.com/800x400" alt="Video" class="img-responsive center-block mt-2"> -->
            <div class="center-block embed-responsive embed-responsive-16by9 mt-4 video1">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
                <div class="overlay">
                    <div class="text-center text">
                        Voir la vidéo
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container fluid">
        <div class="col-md-12 text-center">
            <!--<button class="btn active mt-4 mb-4 button text-white bg-" role="button" aria-pressed="true" type="submit">Ajouter une formation</button>-->
            <button type="button" class="btn btn-primary mt-4 btn-lg buttonFormation">Ajouter une formation</button>
        </div>
    </div>
{% endblock %}

