{% extends 'layout.html.twig' %}
{% block title %} Homepage {% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/login_signup.css">
{% endblock %}
{% block nav %} {{ parent }} {% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row ligne1 no-gutters">
        <div class="col-md-6 offset-md-3"></div>
    </div>
    <div class="row no-gutters">
        <div class="col-md-6 offset-md-3">
            <form action="" method="post">

                <div class="row no-gutters">
                    <div class="col-md-8 offset-md-2">
                        <h2>S'inscrire</h2>
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="col-md-4 offset-md-2">
                        <input type="text" class="form-control" placeholder="Nom">
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" placeholder="Prénom">
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="col-md-4 offset-md-2">
                        <input type="text" class="form-control" placeholder="Email">
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" placeholder="password">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row ligne2 no-gutters">
        <div class="col-md-6 offset-md-3"></div>
    </div>
</div>
{% endblock %}
