{% extends 'layout.html.twig' %}
{% block title %} Recherche {% endblock %}

{% block content %}

<div>
    <form method="post" action="">
        <input type="text" id="search" name="search" class="form-control" placeholder="Rechercher une formation" required="required">


    </form>

</div>