{% extends 'layout.html.twig' %}
{% block stylesheet %}<link rel="stylesheet" href="/assets/css/search.css">{% endblock %}
{% block title %} Recherche {% endblock %}

{% block content %}

<div class="container">
    <div class="row" style="padding-bottom: 30px">
        <div class=" offset-1 col-md-10 text-center">
            <form action="" >
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Search..." aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-light-secondary" type="button"> <i class="fas fa-search"></i></button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

<div class="container">
    <div class="row ">
        <div class="col-md-5" >
            <h2 class="title"> Résultat de la recherche :</h2>
        </div>
    </div>
</div>

<section>
    <div class="container py-3 search-result">
        <div class="card ">
            <div class="row ">
                <div class="col-md-4" >
                    <img src="https://i.imgur.com/7Z8rscT.jpg" class="w-100" id="img-formation">
                </div>
                <div class="col-md-8 px-3">
                    <div class="card-block px-3">
                        <h4 class="card-title">Votre premier Take Off </h4>
                        <p class="author">Par Johnny Utah</p>
                        <p class="card-text">Se mettre debout sur sa planche est difficile à accomplir pour les débutants, mais avec la bonne méthode et de l’entrainement on y arrive. C’est une moment magique mais il réserve bien des surprises! La qualité du take-off conditionne très souvent la qualité de la prestation sur la vague.</p>
                    </div>
                    <div class="interact">
                        <a href="#" class="btn btn-success seeForm">Voir la formation</a>
                        <a href="#" class="btn btn-success addFavorite ">Ajouter aux favoris</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>
</section>

<section>
<div class="container py-3 search-result">
    <div class="card">
        <div class="row ">
            <div class="col-md-4" id="img-formation" >
                <img src="https://i.imgur.com/PrKE64K.jpg" id="img-formation" class="w-100">
            </div>
            <div class="col-md-8 px-3">
                <div class="card-block px-3">
                    <h4 class="card-title">How to calcul your import duty</h4>
                    <p class="author">Par Johnny BeGood</p>
                    <p class="card-text">Import duty is a tax collected on imports and some exports by a country's customs authorities. It is usually based on the imported good's value. Depending on the context, import duty may also be referred to as customs duty, tariff, import tax or import tariff. </p>
                </div>
                <div class="interact">
                    <a href="#" class="btn btn-success seeForm">Voir la formation</a>
                    <a href="#" class="btn btn-success addFavorite ">Ajouter aux favoris</a>
                </div>
            </div>

        </div>
    </div>
</div>
</section>

<section>
    <div class="container py-3 search-result ">
        <div class="card">
            <div class="row ">
                <div class="col-md-4" id="img-formation">
                    <img src="https://i.imgur.com/i6PNrrd.png" id="img-formation" class="w-100">
                </div>
                <div class="col-md-8 px-3">
                    <div class="card-block px-3">
                        <h4 class="card-title">Le responsive et Bootstrap</h4>
                        <p class="author">Par John Doe</p>
                        <p class="card-text">Ce cours va vous guider dans la découverte de cette puissante boîte à outils. Bootstrap, kit CSS créé par les développeurs de Twitter, est devenu en peu de temps le framework CSS de référence. Vous allez découvrir pas à pas comment construire rapidement et facilement des sites web esthétiques et responsives.</p>
                    </div>
                    <div class="interact">
                        <a href="#" class="btn btn-success seeForm">Voir la formation</a>
                        <a href="#" class="btn btn-success addFavorite">Ajouter aux favoris</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>
</section>

    <nav aria-label="pagination">
        <ul class="pagination">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active">
                <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>


{% endblock %}