{% extends 'layout.html.twig' %}
{% block title %} Update Profil {% endblock %}
{% block stylesheet %}<link rel="stylesheet" href="/assets/css/updateProfile.css">{% endblock %}

{% block content %}
<div class="container-fluid">
    
</div>
{% endblock %}
