{% extends 'base.html.twig' %}

{% block body %}


    <h3>Vous avez demandé un nouveau mot de passe pour le site NoAge. Pour réinitialiser votre mot de passe cliquez sur le lien suivant :</h3>
    <p>{{ url }} </p>




{% endblock %}