
{% block body %}
    <div class = "container">
        <div class="jumbotron">
            <h1 class="display-4">NoAge, votre demande de nouveau mot de passe</h1>
            <p>>Bonjour {{ user.nickname }}, <br><br>Vous avez demandé un nouveau mot de passe de connexion pour le site NoAge. Pour réinitialiser votre mot de passe cliquez sur le lien suivant :</p>
            <p class="lead">
                {{ url }}
            </p>
        </div>
    </div>
{% endblock %}