#ContactUs{
    background-color: #aaaaaa;
    width: auto;
    justify-content: center;
}

.contactTitle {

    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Hind Siliguri', sans-serif;
}

h4 {
    font-family: 'Hind Siliguri', sans-serif;
}

#btn{
    margin-bottom: 2%;
    float: right;
}

