body {
    background-color:darkgrey;
    margin-bottom: 1em;

}

@media (max-width: 576px) {
    #logo{
        display: none;
    }
    #loginbtn{
        padding-bottom: 3px;
    }

}
@media (max-width: 767px) {
    .large{
        display: none;

    }

}
@media (min-width: 767px){
    .small{
        display: none;
    }

}
.Search {
    width: 95%;
    border-radius: 12px;
}
.loginBtn {
    background: #68b9f0;
    background-image: -webkit-linear-gradient(top, #68b9f0, #34abf5);
    background-image: -moz-linear-gradient(top, #68b9f0, #34abf5);
    background-image: -ms-linear-gradient(top, #68b9f0, #34abf5);
    background-image: -o-linear-gradient(top, #68b9f0, #34abf5);
    background-image: linear-gradient(to bottom, #68b9f0, #34abf5);
    -webkit-border-radius: 12;
    -moz-border-radius: 12;
    border-radius: 12px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 12px 60px 12px 60px;
    text-decoration: none;
    margin-left: -50px;
}

.loginBtn:hover {
    background: #1100ff;
    text-decoration: none;
}
    .tagline {
        padding-top: 2em;
        padding-bottom: 420px;

    }

.bottomBtn {
    -webkit-border-radius: 12;
    -moz-border-radius: 12;
    border-radius: 12px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #34d95a;
    padding: 12px 60px 12px 60px;
    text-decoration: none;
}

.bottomBtn:hover {
    background: #1100ff;
    text-decoration: none;
}




