/*
[class*="col"]
{
    border: 2px solid black;
    border-radius: 6px;
    line-height: 10px;
}

[class*="row"]
{
    border: 2px solid black;
    border-radius: 6px;
    line-height: 10px;
}
*/
/* Centrage de l'image */

body{
    font-family: 'Hind Siliguri', sans-serif;
    margin-bottom: 1em;
}

   .center-block {
       display: block;
       margin-left: auto;
       margin-right: auto;
   }


   .element {
   .center-block();
   }


/* Effet bouton
.button {
    display: inline-block;
    padding: 15px 25px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    background-color: #008CBA;

}

.button:active {
    display: inline-block;
    padding: 15px 25px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;

}

.button:hover {
    display: inline-block;
    padding: 15px 25px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    background-color: darkgrey;
}
*/

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .video1{
        margin-left: 7em;
        margin-right: 7em;
    }


}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}




.titre{
    font-size: 2em;
}

/*Effet Noir et Blanc survol vidéo
iframe
{
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -ms-filter: grayscale(1);
    -o-filter: grayscale(1);

}

iframe:hover
    {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -o-filter: grayscale(0);
    -ms-filter: grayscale(0);

}
*/


/*effet survol */

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    transition: .5s ease;
    background-color: darkgrey;
    opacity: 0.8;
}

.video1:hover .overlay {
    opacity: 0;
    cursor: pointer;

}

.text {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 2em;
}

.TagLineDavid{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}


.video1{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}




