/**
[class*="col"]
{
    border: 2px solid black;
    border-radius: 6px;
    line-height: 10px;
}

[class*="row"]
{
    border: 2px solid black;
    border-radius: 6px;
    line-height: 10px;
}
*/
.ligne1
{
    height: 15vh;
}

.ligne2
{
    height: 45vh;
}

.ligne3
{
    height: 20vh;
}

.borderTable
{
    border-right: 1px solid #1b698e;
    border-left: 1px solid #1b698e;
}

.borderMid
{
    border-top: 1px solid #1b698e;
    border-bottom: 1px solid #1b698e;
}

.borderBot
{
    border-left: 1px solid #1b698e;
    border-right: 1px solid #1b698e;
}

.borderTop
{
    border-left: 1px solid #1b698e;
    border-right: 1px solid #1b698e;
}

.ligneTable1
{
    height: 20%;
}

.ligneTable2
{
    height: 30%;
}

.ligneTable3
{
    height: 30%;
}

.ligneTable4
{
    height: 20%;
}

form:hover
{

    background-color: rgba(27, 105, 142,0.1);
    transition-duration: 0.4s;
    /*animation: circle 1s;*/
    transition-timing-function: ease-in;
}

