/**
[class*="col"]
{
    border: 2px solid black;
    border-radius: 6px;
    line-height: 10px;
}

[class*="row"]
{
    border: 2px solid black;
    border-radius: 6px;
    line-height: 10px;
}
*/
.positionY
{
    margin-top: 40vh; /* pousser de la moitié de hauteur de viewport */
    transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
}

.positionX
{
    margin-left: 50vw;
    transform: translateX(-50%);
}

.border
{
    border: #1b698e;
    border-radius: 20px;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

