nav{
    margin-bottom: 50px;
    width: 100%;
}
.navbar-nav {
    width: 100%;
    text-align: center;
}
@media (min-width: 768px) {
    .navbar-nav {
        width: 100%;
        text-align: center;
    }
    .navbar-nav > li {
        float: none;
        display: inline-block;
    }
    .navbar-nav > li.navbar-right {
        float: right;
    }
}

.footer{
    background-color: #008CBA;
    text-align: center;

    position:relative;
    height: auto;
    left: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer  a {
    color: black;
    margin-left: 5%;
}

.footer p {
    color: black;
}