
{% extends 'layout.html.twig' %}
{% block title %} Accueil formateur {% endblock %}
{% block stylesheet %}<link rel="stylesheet" href="/assets/css/formation.css">{% endblock %}

{% block content %}
    <body id="bodyEditFormation">
    <h1>Formation edit</h1>

    <ul>
        <li>
            <a href="">Back to the list</a>
        </li>

    </ul>

    </body>
{% endblock %}

