{% extends 'layout.html.twig' %}
{% block title %} Recherche {% endblock %}

{% block body_id %}search{% endblock %}
{% block content %}
    <p style="margin-top: 200px;">
        <a href="{{ path('deleteUser') }}">Supprimer son compte</a>
    </p>

<script>

</script>

{% endblock %}
