{% extends 'layout.html.twig' %}
{% block title %} Mentions légales {% endblock %}

{% block content %}
<div class="content-legal_mention">
    <p style="margin-top: 200px;">
        <a class="text-danger" href="{{ path('deleteUser') }}">Supprimer son compte</a>
    </p>

    <script>

    </script>
</div>

{% endblock %}
