{% extends 'layout.html.twig' %}
{% block title %} Profil {% endblock %}
{% block stylesheet %}<link rel="stylesheet" href="/assets/css/profile.css">{% endblock %}

{% block content %}
<body>

</body>

{% endblock %}