
{% extends 'layout.html.twig' %}
{% block title %} Accueil formateur {% endblock %}
{% block stylesheet %}<link rel="stylesheet" href="/assets/css/landingFormateur.css">{% endblock %}



{% block content %}

    <body id="">
        <div class="container-fluid color3 blocContainer">
            <div class="row mb-4 mt-4 ">
                <div class="col-md-12 mt-4 mb-4 TagLine">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="text-center TagLine">Votre savoir faire vaut de l'or</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row ">
                <!--<img src="http://via.placeholder.com/800x400" alt="Video" class="img-responsive center-block mt-2"> -->

                <div class="container center-block embed-responsive embed-responsive-16by9 mt-4  blocContainer video1 ">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Q71zL6S9YYc?ecver=2" allowfullscreen>
                    </iframe>
                    <div class="bg-primary">
                        <div class="text-center overlay">
                            <div class="text">
                                <h3>Voir la <span class="Video">vidéo</span></h3>
                                <i class="fas fa-plus-circle plus"></i>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="container fluid blocContainer">
            <div class="col-md-12 mb-4 mt-4 text-center">
                <!--<button class="btn active mt-4 mb-4 button text-white bg-" role="button" aria-pressed="true" type="submit">Ajouter une formation</button>-->
                <a href="/creation"  class="btn btn-primary mt-4 btn-lg buttonFormation"> <i class="fas fa-user-plus"></i> Ajouter une formation</a>
            </div>
        </div>
        <hr>
    </body>

{% endblock %}

