{% extends 'layout.html.twig' %}
{% block title %}Menu formation{% endblock %}

{% block h1 %}Je crée ma formation{% endblock %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb pl-3">
            <li class="breadcrumb-item"><p>Informations sur la Formation</p></li>
            <li class="breadcrumb-item active text-dark" aria-current="page"><a>Choisir un type de page</a></li>
            <li class="breadcrumb-item">Ajouter du contenu</li>
        </ol>
    </nav>
{% endblock %}

{% block content %}


    <div class="toto">
        <h1 class="mtoto"> Choisissez une page</h1>
        <div class="mb-5">
            <form method="get" action="">
                <a href="{{ path('new2', {'id': formation.id}) }}"> Ajouter une page via la WYSIWYG</a>
                <a href=""> Ajouter une Page / Document</a>
                <a href=""> Ajouter un quizz</a>
            </form>
        </div>
    </div>



</body>



{% endblock %}