{% extends 'layout.html.twig' %}
{% block title %}Menu formation{% endblock %}
{% block stylesheet %}<link rel="stylesheet" href="/assets/css2/homeCreate.css">{% endblock %}



{% block content %}

<body id="{% block body_id %}truc{% endblock %}">
    <div class="toto">
        <h1 class="mtoto"> Choisissez une page</h1>
        <div class="mb-5">
            <form method="get" action="">
                <a href="{{ path('new2', {'category_id': category.id}) }}"> Ajouter une page via la WYSIWYG</a>
                <a href=""> Ajouter une Page / Document</a>
                <a href=""> Ajouter un quizz</a>
            </form>
        </div>
    </div>



</body>



{% endblock %}