{% extends 'layout.html.twig' %}
{% block title %}Menu formation{% endblock %}
{% block stylesheet %}<link rel="stylesheet" href="/assets/css2/homeCreate.css">{% endblock %}



{% block content %}

<body id="{% block body_id %}homeCreate{% endblock %}">
    <div class="toto">
        <h1 class="mtoto"> Choisissez une page</h1>
        <div class="mb-5">
            <form method="get" action="">
                <div>
                    <a href="{{ path('new2', {'id': formation.id}) }}"> Ajouter une page via la WYSIWYG</a>
                </div>
                <div>
                    <a href="{{ path('quiz', {'id': formation.id}) }}"> Ajouter un quizz</a>
                </div>
            </form>
        </div>
    </div>

    <div>
        <a href="{{ path('landing_formation', {'id' : formation.id}) }}">Terminer </a>
    </div>



</body>



{% endblock %}