
{% extends 'layout.html.twig' %}
{% block title %} Accueil formateur {% endblock %}



{% block stylesheet %}

    <link rel="stylesheet" href="/assets/css2/new2.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1/css/froala_style.min.css" rel="stylesheet" type="text/css" />

{% endblock %}
{% block content %}
    <body id="bodyLandingFormation">
        <div class="row">
            <div class="col-md-12 mb-5">
                <h1 class="text-center TagLine">Contenu de la formation :</h1>
            </div>
        </div>
        <div class=" row mb-5">
            <div class="offset-md-1 col-10">
                <form action="" method="post">
                    <textarea  name="content"></textarea>
                    <input type="submit" value="Ajouter une page"/>
                </form>
            </div>
        </div>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1//js/froala_editor.pkgd.min.js"></script>
    <script>
        $(function() {
            $('textarea').froalaEditor({
                height: 450,
                imageUploadURL: '/formation/upload_picture',
                imageUploadMethod: 'POST',
                imageMaxSize: 5 * 1024 * 1024,
                imageAllowedTypes: ['jpeg', 'jpg', 'png'],
                fileUploadURL: '/formation/upload_file'
            })
        });
    </script>


    </body>
{% endblock %}

