
{% extends 'layout.html.twig' %}
{% block title %} Accueil formateur {% endblock %}
{% block stylesheet %}<link rel="stylesheet" href="/assets/css/formation.css">{% endblock %}

{% block content %}
    <body id="bodyLandingFormation">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Create" />
    {{ form_end(form) }}


    <a href="{{ path('create2', {'id': id }) }}">Back to the list</a>


    </body>
{% endblock %}

