
{% extends 'layout.html.twig' %}
{% block title %} Accueil formateur {% endblock %}
{% block h1 %}Je crée ma formation{% endblock %}

{% block stylesheet %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1/css/froala_style.min.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb pl-3">
            <li class="breadcrumb-item"><p>Informations sur la Formation</p></li>
            <li class="breadcrumb-item"><a>Choisir un type de page</a></li>
            <li class="breadcrumb-item active text-dark" aria-current="page">Ajouter du contenu</li>
        </ol>
    </nav>
{% endblock %}

{% block content %}
        <div class="container-fluid bg-main">
            <div class="row mt-3">
                <div class="col-md-12 my-3">
                    <h3 class="typo-main text-center font-weight-bold">Contenu de la page</h3>
                    <hr>
                </div>
            </div>

            <div class="row mb-5">
                <div class="offset-md-1 col-10 bg-main">
                    <form action="" method="post">
                        <textarea name="content"></textarea>
                        <input type="submit" value="Ajouter une page "class="px-4 my-3 py-3 Button1" style="float: right"/>
                    </form>
                </div>
            </div>
        </div>


    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1//js/froala_editor.pkgd.min.js"></script>
    <script>
        $(function() {
            $('textarea').froalaEditor({
                height: 450,
                imageUploadURL: '/formation/upload_picture',
                imageUploadMethod: 'POST',
                imageMaxSize: 5 * 1024 * 1024,
                imageAllowedTypes: ['jpeg', 'jpg', 'png'],
                fileUploadURL: '/formation/upload_file'
            })
        });
    </script>



{% endblock %}

