{% extends 'layout.html.twig' %}
{% block title %} {{ formation.title }}{% endblock %}
{% block stylesheet %}<link href="../css/froala_style.min.css" rel="stylesheet" type="text/css" />{% endblock %}

{% block content %}

<div class="fr-view">
    {{ formation.content | raw }}
</div>

{% endblock %}
